.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

*.log
hs_err_pid*
replay_pid*

.idea/
*.iml
*.ipr
*.iws
.vscode/
*.swp
*.swo
*~
.DS_Store
